<style type="text/css">
    .eqn-col {
        font-size: 120%;
    }

    @media (max-width: 680px) {
        .eqn-col {
            float: none;
            width: auto;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
            margin-bottom: 10px;
        }
    }
</style>

<hr>

<div class="row">
    <div class="col-sm-12">
        <h2>Rechenregeln</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>Brüche</h4>
    </div>

</div>

<div class="row">
    <div class="col-xs-4 eqn-col">
        \begin{eqnarray}
            \dfrac{a}{b} + \dfrac{x}{y}          & = &  \dfrac{a \cdot y + x \cdot b}{b \cdot y} \\[10pt]
        \end{eqnarray}
    </div>
    <div class="col-xs-4 eqn-col">
        \begin{eqnarray}
            \dfrac{a}{b} \cdot \dfrac{x}{y}      & = &  \dfrac{a \cdot x}{b \cdot y} \\[10pt]
            \dfrac{a}{b} \cdot x                 & = &  \dfrac{a \cdot x}{b} \\[10pt]
        \end{eqnarray}
    </div>
    <div class="col-xs-4 eqn-col">
        \begin{eqnarray}
            \dfrac{\frac{a}{b}}{\frac{x}{y}}     & = &  \dfrac{a}{b} \cdot \dfrac{y}{x} \\[10pt]
            \dfrac{\frac{a}{b}}{x}               & = &  \dfrac{a}{b \cdot x}
        \end{eqnarray}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>Potenzen</h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-3 eqn-col">
        \begin{eqnarray}
            x^1     & = &  x \\[10pt]
            x^0     & = &  1
        \end{eqnarray}
    </div>
    <div class="col-xs-3 eqn-col">
        \begin{eqnarray}
            x^a \cdot x^b           & = &  x^{a + b} \\[10pt]
            \dfrac{x^a}{x^b}        & = &  x^{a - b} \\[10pt]
            \dfrac{1}{x^a}        & = &  x^{-a} \\[10pt]
        \end{eqnarray}
    </div>
    <div class="col-xs-3 eqn-col">
        \begin{eqnarray}
            \left( x^a \right) ^ b  & = &  x^{a \cdot b}
        \end{eqnarray}
    </div>
    <div class="col-xs-3 eqn-col">
        \begin{eqnarray}
            \sqrt[b]{x^a}       & = &  x^{\frac{a}{b}}  \\[10pt]
            \sqrt{x^a}          & = &  x^{\frac{a}{2}}  \\[10pt]
            \sqrt{x}            & = &  x^{\frac{1}{2}}
        \end{eqnarray}
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h4>Logarithmen</h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 eqn-col">
        \begin{eqnarray}
            \log_a 1     & = &  0 \\[10pt]
            \log_a a^x   & = &  x \\[10pt]
            \log_a a     & = &  1 \\[10pt]
            \log_e x     & = &  \ln x
        \end{eqnarray}
    </div>
    <div class="col-xs-4 eqn-col">
        \begin{eqnarray}
            \log_a x + \log_a y     & = &  \log_a ({x \cdot y}) \\[10pt]
            \log_a x - \log_a y     & = &  \log_a \frac{x}{y} \\[10pt]
            -\log_a x               & = &  \log_a \frac{1}{x}
        \end{eqnarray}
    </div>
    <div class="col-xs-4 eqn-col">
        \begin{eqnarray}
            n \cdot \log_a x            & = &  \log_a x^n \\[10pt]
            \dfrac{\log_a x}{\log_a b}  & = &  \log_b x
        \end{eqnarray}
    </div>
</div>